@charset "UTF-8";
        body
        {
            background-color: cornsilk;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            font-size: 20px;
        }
        h1 {
            color: cadetblue;
            background-color: coral;
            text-align: center;
        }
        h2 {
            color: chocolate;
        }
        p {
            text-align: center;
        }
