@charset "UTF-8";
*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}

body {
    background-image: linear-gradient(to right, #253C59, #5D7A8C);
    
}
main {
    background-color: #BF8D30;
    border-radius: 10px;
    width: 600px;
    padding: 10px;
    margin: auto;
    box-shadow: 10px 10px 15px rgb(rgb(33, 68, 228), rgb(49, 200, 211), rgb(170, 49, 49));
}


h1 {
    color: #253C59;
    text-align: center;
    text-shadow: 1px 1px 2px rgb(rgb(209, 120, 120), rgb(161, 211, 161), rgb(75, 75, 153));
}

h2 {
    color: #253C59;
    text-align: center;
}
p {
    text-align: center;
    color: #0d2036;
}